<div>

  <h1>Catalogue</h1>

  <ul class="items" ng-repeat="product in shopCtrl.products" ng-show="product.quantity > 0">

    <li>
      {{product.name}}
    </li>

    <li>
      {{product.category}}
    </li>

    <li>
      {{product.price | currency:"£"}}
    </li>

    <li>
      {{product.quantity}}
    </li>
    <li>
    <button ng-click="shopCtrl.addPurchase(product)">Add {{product.name}} to Cart</button>
    </li>
  </ul>

</div>

<div>

  <h2>Shopping Cart</h2>

  <ul class="cart" ng-repeat="purchase in shopCtrl.purchases" ng-show="purchase.quantity > 0">

    <li>
      {{purchase.name}}
    </li>

    <li>
      {{purchase.category}}
    </li>

    <li>
      {{purchase.price | currency:"£"}}
    </li>

    <li>
      {{purchase.quantity}}
    </li>

    <li>
      <button ng-click="shopCtrl.removePurchase(purchase)">Remove {{purchase.name}}</button>
    </li>

  </ul>
  <h3 class="total">Subtotal: {{shopCtrl.total | currency:"£"}}</h3>
</div>
